@tailwind base;
@tailwind components;
@tailwind utilities;



.app {
    font-family: sans-serif;
    text-align: center;
    color: black;
}
.active {
    color:  yellow;

}

.noActivo {
    color: white;
}